.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(93, 93, 117);
}

.header img {
  width: 3rem;
}

.header .forward-button img {
  display: block;
  margin-left: auto;
}

.header .title {
  font-family: Thasadith;
  color: white;
  font-size: 2.5em;
}
